import React from "react";
{% for component in importedComponents %}
import {{ component }} from "../src/components/{{ component }}";
{% endfor %}
import { GatsbySeo } from 'gatsby-plugin-next-seo';
import useAuthentication from "../src/components/useAuthentication";

interface Data {
    title: string;
    highlightedTitle: string;
    description: string;
    buttonLabel: string;
    data: any[];
    apiEndPoints: any;
    isSSR: string;
    isProtected: string;
}

interface SEO {
    title: string,
    description: string
}

const SeoData: SEO = {
    title: "{{seo.title}}",
    description: "{{seo.description}}"
}

{% for component in components %}
const {{ component.dataVariableName}}: Data = {
    {% for propKey, propValue in component.props %}
        {% if propKey != 'data' and propKey != 'apiEndPoints' %}
            {{ propKey }}: "{{ propValue }}",
    {% endif %}
    {% endfor %}
    data: [
        {% if component.props.data %}
        {% if component
            .props
            .data[0] is string %}
            {% for item in component.props.data %}
                    "{{ item }}",
                {% endfor %}
        {% else %}
            {% for item in component.props.data %}
                    { id: {{ item.id }}, name: "{{ item.name }}", value: "{{ item.value }}" },
                {% endfor %}
        {% endif %}
    {% endif %}
    ],
    apiEndPoints: {
        {% for key, value in component.props.apiEndPoints %}
        {{ key }}: "{{ value }}",
        {% endfor %}
    }
};
{% endfor %}

interface ServerDataProps {
    serverData: {
        {% for component in components %}
    {{component.dataVariableName}}: Data;
        {% endfor %}
        SeoData: SEO;
    }
}

const {{ pageName }}: React.FC<ServerDataProps> = ({serverData}) => {

    {% if pageName !== "Login" %}
        const loggedIn = useAuthentication();
    {% endif %}

    return (
        <>
        <GatsbySeo {...serverData.SeoData} />
        {% if isProtected %}
        {loggedIn ? (
            <>
                {% for component in components %}
                    {% if component.props.isSSR %}
                        <{{ component.componentName }} {...serverData.{{component.dataVariableName}}} />
                    {% else %}
                        <{{ component.componentName }} {...{{ component.dataVariableName }}} />
                    {% endif %}
                {% endfor %}
            </>
        ) : (<p>You need to be logged in to view this page</p>)}
        {% else %}
            {% for component in components %}
                {% if component.props.isProtected %}
                    {Boolean({{component.dataVariableName}}.isProtected) && loggedIn ? 
                    ( 
                        {% if component.props.isSSR %}
                            <{{ component.componentName }} {...serverData.{{component.dataVariableName}}} />
                        {% else %}
                            <{{ component.componentName }} {...{{ component.dataVariableName }}} />
                        {% endif %}
                    ): 
                    (
                        <p className="text-center text-xl my-20"> You need to be logged in to view this section </p>
                    )}
                {% else %}
                    {% if component.props.isSSR %}
                        <{{ component.componentName }} {...serverData.{{component.dataVariableName}}} />
                    {% else %}
                        <{{ component.componentName }} {...{{ component.dataVariableName }}} />
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        </>
    );
};
export default {{ pageName }};


export async function getServerData() {
    console.log("Server side rendering of {{pageName}} using templating and script")
    try {
        {% if pageName == "Home" %}
        const res = await fetch(blogs.apiEndPoints.GET_URL);
        const fetchedData = await res.json();
        const blogsData = {
            ...blogs,
            data: [...blogs.data, ...fetchedData.blogs]
        }
        return {
            props: {
                {% for component in components %}
                    {% if component.componentName === "Blogs" %}
                        blogs: blogsData,
                    {% elseif component.props.isSSR %}
                        {{component.dataVariableName}},
                    {% endif %}
                {% endfor %}
                SeoData,
            }
        }
        {% else %}
            return {
                props: {
                    {% for component in components %}
                    {% if component.props.isSSR %}
                    {{component.dataVariableName}},
                    {% endif %}
                    {% endfor %}
                    SeoData,
                }
            };
        {% endif %}
    }
    catch (error) {
        console.log("Error while fetching data for {{pageName}} page", error);
    }
}
