import React from "react";
{% for component in importedComponents %}
import {{ component }} from "../src/components/{{ component }}";
{% endfor %}
import { GatsbySeo } from 'gatsby-plugin-next-seo';

interface Data {
    title: string;
    highlightedTitle: string;
    description: string;
    buttonLabel: string;
    data: any[];
    apiEndPoints: any;
}

interface SEO {
    title: string,
    description: string
}

const SeoData: SEO = {
    title: "{{seo.title}}",
    description: "{{seo.description}}"
}

{% for component in components %}
const {{ component.dataVariableName}}: Data = {
    {% for propKey, propValue in component.props %}
    {% if propKey != 'data' and propKey != 'apiEndPoints' %}
    {{ propKey }}: "{{ propValue }}",
    {% endif %}
    {% endfor %}
    data: [
        {% if component.props.data %}
            {% if component.props.data[0] is string %}
                {% for item in component.props.data %}
                    "{{ item }}",
                {% endfor %}
            {% else %}
                {% for item in component.props.data %}
                    { id: {{ item.id }}, name: "{{ item.name }}", value: "{{ item.value }}" },
                {% endfor %}
            {% endif %}
        {% endif %}
    ],
    apiEndPoints: {
        {% for key, value in component.props.apiEndPoints %}
        {{ key }}: "{{ value }}",
        {% endfor %}
    }
};
{% endfor %}

interface ServerDataProps {
    serverData: {
        {% for component in components %}
        {{component.dataVariableName}}: Data;
        {% endfor %}
        SeoData: SEO;
    }
}

const {{ pageName }}: React.FC<ServerDataProps> = ({serverData}) => {

    console.log("page props are", serverData);

    return (
        <>
        <GatsbySeo {...serverData.SeoData} />
            {% for component in components %}
            <{{ component.componentName }} {...serverData.{{ component.dataVariableName }}} />
            {% endfor %}
        </>
    );
};
export default {{ pageName }};


export async function getServerData() {
    console.log("Server side rendering of {{pageName}} using templating and script")
    return {
        props: {
            {% for component in components %}
            {{component.dataVariableName}},
            {% endfor %}
            SeoData,
        }
    }
}